.all {
  font-family: "Courier New";
}

.bigr {
  font-size: 10pt !important;
  white-space: pre-wrap;
}

.headr {
  page-break-before: always;
  text-decoration: underline;
  font-family: "Courier New";
  font-size: 14pt;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
}

.row {
  font-size: 8pt;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  padding: 4px 0;
}

.column {
  padding-top: 50px;
  font-size: 8pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 0%;
}

.title {
  width: 30%;
  text-align: end;
}

.name {
  width: 50%;
  text-align: start;
  padding-left: 20px;
}

.spcode {
  width: 20%;
  text-align: end;
  padding-right: 20px;
}

.field {
  width: 72%;
  text-align: start;
  padding-left: 20px;
}

.field2 {
  width: 20%;
  text-align: start;
  padding-left: 20px;
}

.f1 {
  width: 10%;
  text-align: center;
}

.f2 {
  width: 25%;
  text-align: center;
}

.f3 {
  width: 30%;
  text-align: center;
}

.f4 {
  width: 35%;
  text-align: center;
}

.bold {
  font-weight: 900;
  text-align: center;
}

.body-a4 {
  height: 90%;
}

.foot {
  position: running(foot);
  height: 7%;
  font-family: "Courier New";
  font-size: 8pt;
  display: block;
}

.cus {
  height: 10%;
}
