@page {
  size: A4;
}


.headr {
  page-break-before: always;
  text-decoration: underline;
  font-family: "Courier New";
  font-size: 14pt;
  font-weight: normal;
  text-align: center;
}

.attrs {
  font-family: "Courier New";
  font-size: 9pt;
  font-weight: normal;
  min-width: 200px;
  display: inline-block;
}

.stantar-space {
  white-space: pre-wrap;
}
