.user-form {
    width: 500px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.user-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 34px;
    padding: 20px 0 20px 0;
}
.user-form input,
.user-form select,
.user-form textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
    margin: 0 auto;
    font-size: 15px;
}
.user-form input[type=radio]{
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    margin: 0;
    box-sizing: initial;
}
.user-form label{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    margin-top: 15px;
    box-sizing:border-box;

}
.user-form button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}