@import url('Standar.css');


.total-main-page2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("./media/background5.jpg");
    font-family: 'Raleway', sans-serif;
}

.user-form2 {
    background-color: #fff;
    opacity: 0.96;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 80% !important;
}

.user-form2 h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 40px 0 10px 0;
    text-shadow: 2px 2px 5px #bdbdbd;
    color: #3a3a3a;
}

.user-form2 form {
    width: 90%;
}

.form-input2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.form-input2 input {
    transition: 0.5s;
    background-color: transparent;
    border-radius: 0 !important;
    border-bottom: solid 1px rgb(97, 97, 97) !important;
    border-top: solid 0px rgb(236, 236, 236) !important;
    border-right: solid 0px rgb(236, 236, 236) !important;
    border-left: solid 0px rgb(236, 236, 236) !important;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.form-input2 input:hover {
    background-color: #f1f1f1a1;
    border-radius: 5px 5px 0 0 !important;
    outline: none;
  }

.form-input2 input:focus {
    border-bottom: solid 2px #2596be !important;
    background-color: #f1f1f1a1;
    border-radius: 5px 5px 0 0 !important;
    outline: none;
}

.form-input2 select {
    transition: 0.5s;
    background-color: transparent;
    border-radius: 0 !important;
    border-bottom: solid 1px rgb(97, 97, 97) !important;
    border-top: solid 0px rgb(236, 236, 236) !important;
    border-right: solid 0px rgb(236, 236, 236) !important;
    border-left: solid 0px rgb(236, 236, 236) !important;
    height: 33px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.form-input2 select:hover {
    background-color: #f1f1f1a1;
    border-radius: 5px 5px 0 0 !important;
    outline: none;
  }

.form-input2 select:focus {
    border-bottom: solid 2px #2596be !important;
    background-color: #f1f1f1a1;
    border-radius: 5px 5px 0 0 !important;
    outline: none;
}

.form-input2 label {
    margin-bottom: 8px;
    font-size: 15px;
    color: #414141;
}

.user-form-line2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 10px 0;
}

.line-left2 {
    justify-content:flex-start;
}

.user-form2 .left2 {
    margin-right: 40px;
}

.btn-plus {
    margin: 10px 0 0 6px;
    border: 0px;
    font-size: 20px;
    background-color: transparent;
    color: #424242;
    transition: 0.5s;
}

.btn-plus:focus {
    outline: none;
}

.btn-plus:hover {
    text-shadow: rgb(168, 168, 168) 1px 1px 3px;
}

.center2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choice-btn2 {
    background-color: #535b60;
    box-sizing: border-box;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0 0 0;
    transition: 1s;
    font-weight: 400 !important;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    width: 130px !important;
    box-shadow: rgb(124, 124, 124) 1px 1px 9px;
}

.btn-code2 {
    font-size: 13px;
    width: 150px !important;
    padding: 0;
}

.choice-btn2:hover {
    background-color: rgb(37, 37, 37) !important;
}

.form-input2 textarea {
    transition: 0.5s;
    background-color: transparent;
    border-radius: 0 !important;
    border-bottom: solid 1px rgb(97, 97, 97) !important;
    border-top: solid 0px rgb(236, 236, 236) !important;
    border-right: solid 0px rgb(236, 236, 236) !important;
    border-left: solid 0px rgb(236, 236, 236) !important;
    height: 40px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.form-input2 textarea:hover {
    background-color: #f1f1f1a1;
    border-radius: 5px 5px 0 0 !important;
    outline: none;
  }

.form-input2 textarea:focus {
    border-bottom: solid 2px #2596be !important;
    background-color: #f1f1f1a1;
    border-radius: 5px 5px 0 0 !important;
    outline: none;
}

.number2 {
    width: 10%;
}

.css-yk16xz-control {
    transition: 0.5s !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    border-bottom: solid 1px rgb(97, 97, 97) !important;
    border-top: solid 0px rgb(236, 236, 236) !important;
    border-right: solid 0px rgb(236, 236, 236) !important;
    border-left: solid 0px rgb(236, 236, 236) !important;
    height: 20px !important;
    font-size: 20px !important;
    font-family: 'Raleway', sans-serif !important;
}

.css-yk16xz-control:hover {
    background-color: #f1f1f1a1 !important;
    border-radius: 5px 5px 0 0 !important;
    outline: none !important;
}

.css-yk16xz-control:focus {
    border-bottom: solid 2px #2596be !important;
    background-color: #f1f1f1a1 !important;
    border-radius: 5px 5px 0 0 !important;
    outline: none !important;
}

.css-1okebmr-indicatorSeparator {
    display: none;
}

.css-tj5bde-Svg {
    color: #111;
    width: 15px;
}

.range2 {
    margin-top: 0 !important;
}

.form-input2 input[type=file] {
    border: solid 0px rgb(167, 167, 167) !important;
    line-height: 30px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    width: 80%;
}

.form-input2 input[type=file]:hover {
    background-color: transparent;
    outline: none;
}

.form-input2 input[type=file]:focus {
    background-color: transparent;
    outline: none;
}

::-webkit-file-upload-button {
    background-color: #535b60;
    box-sizing: border-box;
    font-weight: bold;
    color: #ffffff;
    padding: 12px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 20px 0 0;
    transition: 1s;
    font-weight: 400 !important;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    width: 100px !important;
    box-shadow: rgb(124, 124, 124) 1px 1px 9px;
}

::-webkit-file-upload-button:hover {
    background-color: rgb(37, 37, 37) !important;
}

::-webkit-file-upload-button:focus {
    outline: none;
}

.user-form2 table {
    width: 80%;
    margin-top: 4%;
    border: 1px solid #c8dbe2;
}

.user-form2 table tr td {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #c8dbe2;
}

.user-form2 table tr th {
    background-color: #c8dbe2;
    border: 1px solid #c8dbe2;
    text-align: center;
    padding: 10px 0;
}

.customerMatrixColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px;
}

.customerMatrix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 40px;
}

.customerMatrix table {
    margin: 30px;
}

.salesMade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.salesMade table {
    box-shadow: rgb(196, 195, 195) 2px 2px 7px;
}

.salesMade table tr td{
    text-align: center;
    padding: 10px 20px;
    border-right: 1px solid rgb(231, 231, 231);
}

.salesMade table tr th{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
    border-right: 1px solid rgb(231, 231, 231);
    text-align: center;
    padding: 8px 20px;
}

.static-info-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.static-info {    
    box-shadow: rgb(196, 195, 195) 2px 2px 7px;
}

.static-info table tr th {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
    padding-right: 15px;
    border-right: 1px solid rgb(177, 177, 177);
    text-align: end;
}

.static-info table tr td {
    padding-left: 15px;
}

.ap-history table {
    width: 100%;
    box-shadow: rgb(196, 195, 195) 2px 2px 7px;
}

.ap-history {
    margin-right: 30px;
}

.ap-history table tr td{
    text-align: center;
    padding: 0 20px;
    padding-bottom: 10px;
}

.ap-history table tr th{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    padding: 8px 20px;
}

.customerMatrixColumn2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customerMatrixRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(196, 195, 195) 2px 2px 7px;
    margin-right: 30px;
}

.customerMatrixRow th {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
}

.choice-btn3 {
    background-color: #535b60;
    box-sizing: border-box;
    font-weight: bold;
    color: #ffffff;
    padding: 6px 16px;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
    font-weight: 400 !important;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    box-shadow: rgb(124, 124, 124) 1px 1px 9px;
}

.choice-btn3:hover {
    background-color: rgb(37, 37, 37) !important;
}

.btn-plus2 {
    border: 0px;
    font-size: 20px;
    background-color: transparent;
    color: #424242;
    transition: 0.5s;
}

.btn-plus2:focus {
    outline: none;
}

.btn-plus2:hover {
    text-shadow: rgb(168, 168, 168) 1px 1px 3px;
}

.btn-minus {
    padding-left: 8px !important;
}

.search-select {
    transition: 0.5s;
    background-color: transparent;
    border-radius: 0 !important;
    border-bottom: solid 1px rgb(97, 97, 97) !important;
    border-top: solid 0px rgb(236, 236, 236) !important;
    border-right: solid 0px rgb(236, 236, 236) !important;
    border-left: solid 0px rgb(236, 236, 236) !important;
    height: 33px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.search-select:hover {
    background-color: #f1f1f1a1;
    border-radius: 5px 5px 0 0 !important;
    outline: none;
}

.sales-info-table {
    margin: 30px;
}

.ap-history2 table {
    width: 100%;
    margin: 20px 0 20px;
}

.ap-history2 {
    margin-right: 30px;
    box-shadow: rgb(196, 195, 195) 2px 2px 7px;
}

.ap-history2 table tr td{
    text-align: center;
    padding: 0 20px;
    padding-bottom: 10px;
}

.ap-history2 table tr th{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    padding: 8px 20px;
}

.home-page-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.home-page-column {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page {
    width: 100%;
}

.home-page h1 {
    font-family: 'Raleway', sans-serif !important;
    font-size: 40px;
    font-weight: 100 !important;
    text-shadow: rgb(58, 58, 58) 1px 1px 5px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    opacity: 0.9;
    padding: 5px;
}

.home-page-button {
    border-radius: 4px !important;
    width: 300px;
    text-align: center;
    margin: 40px;
    padding: 30px !important;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400 !important;
    background-color: rgb(255, 255, 255) !important;
    border: 0px solid !important;
    box-shadow: rgb(143, 143, 143) 2px 2px 5px;
    transition: 1s;
}

.home-page-button:hover {
    background-color: #dde4e7 !important;
}

.sign-out {
    background-color: rgb(37, 37, 37) !important;
    box-sizing: border-box !important;
    font-weight: bold !important;
    color: #ffffff !important;
    padding: 16px 26px !important;
    margin-bottom: 30px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    transition: 1s !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    font-family: 'Raleway', sans-serif !important;
    box-shadow: rgb(78, 78, 78) 1px 1px 9px !important;
}

.sign-out:hover {
    background-color: rgb(92, 19, 19) !important;
}